Repository phamlong15297/_: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyrefly, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff

  - repo: local
    hooks:
      - id: pyrefly
        name: pyrefly typecheck
        entry: pyrefly check
        language: python
        additional_dependencies: [pyrefly]
        types: [python]
        files: \.py$

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        # cd frontend_new then run against changed files (frontend_new in filename will be cut)
        entry: bash -c 'cd frontend_new && npx eslint $(echo "$@" | sed "s|frontend_new/||g")' --
        language: system
        types: [javascript]
        files: \.(js|jsx|vue)$
        pass_filenames: true  # Required for only-changed files
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend_new && npx prettier --check $(echo "$@" | sed "s|frontend_new/||g")' --
        language: system
        types: [javascript]
        files: \.(js|jsx|vue)$
        pass_filenames: true

update
  .github/workflows/style-checking.yml
  .pre-commit-config.yaml
  README.md
  sample-node-js/.prettierrc
  sample-node-js/bad.js
  sample-node-js/eslint.config.mjs
  sample-node-js/package-lock.json
  sample-node-js/package.json
Due: eslint, prettier

add package
  sample-node-js/package.json
  sample-node-js/yarn.lock
Due: none

add Readme
  README.md
Due: none

add bad py code
  project2/main.py
  sample-node-js/bad.js
Due: pyrefly, eslint, prettier

fix bad code
  project2/main.py
  sample-node-js/bad.js
Due: pyrefly, eslint, prettier

add precommit
  .pre-commit-config.yaml
  README.md
Due: none

bad
  bad_code.py
Due: pyrefly

add more options
  .pre-commit-config.yaml
  README.md
  bad_code.py
Due: pyrefly

add bad code
  bad_code.py
Due: pyrefly

bad js
  sample-node-js/bad.js
Due: eslint, prettier

use precommit on ci
  .github/workflows/style-checking.yml
Due: none

fix
  bad_code.py
Due: pyrefly

fix workflow
  .github/workflows/style-checking.yml
Due: none

add Nodejs
  .github/workflows/style-checking.yml
Due: none

prettier ok
  README.md
  sample-node-js/bad.js
Due: eslint, prettier

fix
  sample-node-js/bad.js
Due: eslint, prettier

update Readme
  .github/workflows/style-checking.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

add uv
  README.md
  pyproject.toml
Due: none

add uv command
  README.md
  pyproject.toml
  uv.lock
Due: none

update Readme
  README.md
Due: none

update Readme
  README.md
  project1/requirements.txt
  project2/requirements.txt
  pyproject.toml
  uv.lock
Due: none

.
  README.md
Due: none

add
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  sample-node-js/package-lock.json
  sample-node-js/yarn.lock
  uv.lock
Due: none

hello
  .pre-commit-config.yaml
  README.md
  sample-node-js/bad.js
Due: eslint, prettier

add editorconfig-checker
  .pre-commit-config.yaml
Due: none

add editorconfig-checker
  .pre-commit-config.yaml
  README.md
Due: none

Update README.md
  README.md
Due: none

Update style-checking.yml
  .github/workflows/style-checking.yml
Due: none

add venv
  .github/workflows/style-checking.yml
Due: none

test
  bad_code.py
Due: pyrefly

source .venv/bin/activate
  .github/workflows/style-checking.yml
Due: none
